@import "tailwindcss";

@theme {
  --color-marca: #1a73b8;
  --color-marca-escura: #14598d;
  --color-destaque: #ffb800;
  --color-destaque-escura: #e6a600;
}

@layer base {
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
  }

  main {
    padding: 40px;
  }
}